/* colores hover gel pocket para uñas */

.esmalte__hover--gel-pocket {
  border-radius: 50%;

  color: #ffffff;
  height: 1.5em;
  width: 1.5em;

  margin: 0.5em;

  z-index: 2;
}

.esmalte__img--gel-pocket {
  height: 268px;
  width: auto;
}

.esmalte__hover--gel-pocket-1 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-1.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-2 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-2.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-3{
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-3.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-4 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-4.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-5 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-5.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-6 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-6.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-7 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-7.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-8 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-8.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-9 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-9.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-10 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-10.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-11 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-11.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-12 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-12.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-13 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-13.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-14 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-14.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-15 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-15.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-16 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-16.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-17 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-17.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-18 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-18.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-19 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-19.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-20 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-20.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-21 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-21.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-22 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-22.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-23 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-23.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-24 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-24.png') center, no-repeat;
}

.esmalte__hover--gel-pocket-25 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-25.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-26 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-26.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-27 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-27.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-28 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-28.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-29 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-29.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-30 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-30.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-31 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-31.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-32 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-32.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-33 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-33.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-34 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-34.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-35 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-35.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-36 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-36.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-37 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-37.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-38 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-38.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-39 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-39.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-40 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-40.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-41 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-41.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-42 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-42.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-43 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-43.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-44 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-44.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-45 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-45.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-46 {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/gel-pocket-46.png') center, no-repeat;
}
.esmalte__hover--gel-pocket-topCoat {
  background:  url('/imagenes-heburn/esmaltes/gel-pocket/pocket-TopCoat.png') center, no-repeat;
}