.esmalte__img--top-coat {
  height: 268px;
  width: auto;
}
  
.esmalte__hover--top-coat {
  border: none!important;
  border-radius: 0;
    
  color: #ffffff;
  height: 8em;
  width: 6em;
    
  margin: 0.5em;

  position: relative;
    
  z-index: 2;
}

.esmalte__hover--top-coat-1 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/esmaltes/semipermanentes/171_top_coat_gel.webp') no-repeat;
  background-size: contain;
}
.esmalte__hover--top-coat-2 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/esmaltes/semipermanentes/171_Top_Coat_Glitter.webp') no-repeat;
  background-size: contain;
}
.esmalte__hover--top-coat-3 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/esmaltes/semipermanentes/171_top_coat_matte_gel.webp') no-repeat;
  background-size: contain;
}

.esmalte__hover--top-coat::after {
  color: rgb(238, 209, 209);
  
  font-size: 0.9em;
  
  left: 0.8em;
  position: absolute;
  top: -2em;
}

.esmalte__hover--top-coat-1::after {
  content: 'Top Coat';
}
.esmalte__hover--top-coat-2::after {
  content: 'Top Coat Glitter';
}
.esmalte__hover--top-coat-3::after {
  content: 'Top Coat Matte';
}