/* colores hover tratamiento para uñas */

/* .esmalte__hover--tratamiento-1 {
  background-image:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-1.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-2 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-2.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-3 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-3.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-4 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-4.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-5 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-5.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-6 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-6.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-7 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-7.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-8 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-8.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-9 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-9.webp') 50% 50%, no-repeat;
}
.esmalte__hover--tratamiento-10 {
  background:  url('/imagenes-heburn/esmaltes/tratamiento/tratamiento-10.webp') 50% 50%, no-repeat;
} */