.contenedor__ojos__hover--sombra > div {
  height: 1.8em;
  width: 1.8em;
}

.contenedor__tonos--313-matte-53 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-53.png') center 35%, no-repeat;
}
.contenedor__tonos--313-matte-54 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-54.png') center 35% , no-repeat;
}
.contenedor__tonos--313-matte-55 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-55.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-56 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-56.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-57 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-57.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-58 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-58.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-60 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-60.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-61 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-61.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-62 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-62.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-63 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-63.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-64 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-64.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-65 {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-65.png') center 35%;
  background-repeat: no-repeat;
  background-size: 600%;
}
.contenedor__tonos--313-matte-bm {
  background: url('/imagenes-heburn/ojos/sombra/313-matte-bm.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-1 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-01.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-2 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-02.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-3 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-03.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-4 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-04.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-5 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-05.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-6 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-06.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-7 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-07.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-8 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-08.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-9 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-09.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-10 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-10.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-11 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-11.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-12 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-12.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-13 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-13.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-14 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-14.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-15 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-15.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-16 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-16.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-17 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-17.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-18 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-18.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-19 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-19.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-26 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-26.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-28 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-28.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-29 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-29.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-31 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-31.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-32 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-32.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-34 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-34.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-35 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-35.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-36 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-36.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-37 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-37.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-51 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-51.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-52 {
  background: url('/imagenes-heburn/ojos/sombra/313-satinado-52.png') center 35%;
  background-repeat: no-repeat;
}