.contenedor__ojos__hover--sombra > div {
  height: 2em;
  width: 2em;

  position: relative;
}

.contenedor__tonos--313-matte-53 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-53.png') center 35%, no-repeat;
}
.contenedor__tonos--313-matte-54 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-54.png') center 35% , no-repeat;
}
.contenedor__tonos--313-matte-55 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-55.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-56 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-56.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-57 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-57.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-58 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-58.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-60 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-60.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-61 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-61.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-62 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-62.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-63 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-63.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-64 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-64.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-matte-65 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-65.png') center 35%;
  background-repeat: no-repeat;
  background-size: 600%;
}
.contenedor__tonos--313-matte-bm {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-matte-bm.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-1 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-01.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-2 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-02.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-3 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-03.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-4 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-04.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-5 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-05.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-6 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-06.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-7 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-07.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-8 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-08.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-9 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-09.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-10 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-10.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-11 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-11.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-12 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-12.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-33 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-33.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-14 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-14.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-15 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-15.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-16 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-16.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-17 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-17.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-18 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-18.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-19 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-19.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-26 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-26.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-28 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-28.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-29 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-29.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-31 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-31.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-32 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-32.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-34 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-34.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-35 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-35.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-36 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-36.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-37 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-37.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-51 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-51.png') center 35%;
  background-repeat: no-repeat;
}
.contenedor__tonos--313-satin-52 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/ojos/sombra/313-satinado-52.png') center 35%;
  background-repeat: no-repeat;
}

.contenedor__ojos__hover--sombra>div::after {
  color: rgb(238, 209, 209);
  font-size: 0.9em;
  
  left: 0.5em;
  position: absolute;
  top: -1em;
}

.contenedor__tonos--313-matte-53::after {
  content: '53';
}
.contenedor__tonos--313-matte-54::after {
  content: '54';
}
.contenedor__tonos--313-matte-55::after {
  content: '55';
}
.contenedor__tonos--313-matte-56::after {
  content: '56';
}
.contenedor__tonos--313-matte-57::after {
  content: '57';
}
.contenedor__tonos--313-matte-58::after {
  content: '58';
}
.contenedor__tonos--313-matte-60::after {
  content: '60';
}
.contenedor__tonos--313-matte-61::after {
  content: '61';
}
.contenedor__tonos--313-matte-62::after {
  content: '62';
}
.contenedor__tonos--313-matte-63::after {
  content: '63';
}
.contenedor__tonos--313-matte-64::after {
  content: '64';
}
.contenedor__tonos--313-matte-65::after {
  content: '65';
}
.contenedor__tonos--313-matte-bm::after {
  content: 'BM';
}

.contenedor__tonos--313-satin-1::after {
  content: '01';
}
.contenedor__tonos--313-satin-2::after {
  content: '02';
}
.contenedor__tonos--313-satin-3::after {
  content: '03';
}
.contenedor__tonos--313-satin-4::after {
  content: '04';
}
.contenedor__tonos--313-satin-5::after {
  content: '05';
}
.contenedor__tonos--313-satin-6::after {
  content: '06';
}
.contenedor__tonos--313-satin-7::after {
  content: '07';
}
.contenedor__tonos--313-satin-8::after {
  content: '08';
}
.contenedor__tonos--313-satin-9::after {
  content: '09';
}
.contenedor__tonos--313-satin-10::after {
  content: '10';
}
.contenedor__tonos--313-satin-11::after {
  content: '11';
}
.contenedor__tonos--313-satin-12::after {
  content: '12';
}
.contenedor__tonos--313-satin-14::after {
  content: '14';
}
.contenedor__tonos--313-satin-15::after {
  content: '15';
}
.contenedor__tonos--313-satin-16::after {
  content: '16';
}
.contenedor__tonos--313-satin-17::after {
  content: '17';
}
.contenedor__tonos--313-satin-18::after {
  content: '18';
}
.contenedor__tonos--313-satin-19::after {
  content: '19';
}
.contenedor__tonos--313-satin-26::after {
  content: '26';
}
.contenedor__tonos--313-satin-28::after {
  content: '28';
}
.contenedor__tonos--313-satin-29::after {
  content: '29';
}
.contenedor__tonos--313-satin-31::after {
  content: '31';
}
.contenedor__tonos--313-satin-32::after {
  content: '32';
}
.contenedor__tonos--313-satin-33::after {
  content: '33';
}
.contenedor__tonos--313-satin-34::after {
  content: '34';
}
.contenedor__tonos--313-satin-35::after {
  content: '35';
}
.contenedor__tonos--313-satin-36::after {
  content: '36';
}
.contenedor__tonos--313-satin-37::after {
  content: '37';
}
.contenedor__tonos--313-satin-51::after {
  content: '51';
}
.contenedor__tonos--313-satin-52::after {
  content: '52';
}