.contenedor__ojos--img--blister {
  height: 130px;
  width: auto;

  margin: 3rem 0;
}

.contenedor__tonos--blister-01 {
  background: url('/imagenes-heburn/ojos/sombra/blister1.png') center, no-repeat;
}
.contenedor__tonos--blister-02 {
  background: url('/imagenes-heburn/ojos/sombra/blister2.png') center, no-repeat;
}
.contenedor__tonos--blister-03 {
  background: url('/imagenes-heburn/ojos/sombra/blister3.png') center, no-repeat;
}
.contenedor__tonos--blister-04 {
  background: url('/imagenes-heburn/ojos/sombra/blister4.png') center, no-repeat;
}
.contenedor__tonos--blister-05 {
  background: url('/imagenes-heburn/ojos/sombra/blister5.png') center, no-repeat;
}
.contenedor__tonos--blister-07 {
  background: url('/imagenes-heburn/ojos/sombra/blister7.png') center, no-repeat;
}
.contenedor__tonos--blister-11 {
  background: url('/imagenes-heburn/ojos/sombra/blister11.png') center, no-repeat;
}
.contenedor__tonos--blister-12 {
  background: url('/imagenes-heburn/ojos/sombra/blister12.png') center, no-repeat;
}
.contenedor__tonos--blister-13 {
  background: url('/imagenes-heburn/ojos/sombra/blister13.png') center, no-repeat;
}
.contenedor__tonos--blister-15 {
  background: url('/imagenes-heburn/ojos/sombra/blister15.png') center, no-repeat;
}
.contenedor__tonos--blister-18 {
  background: url('/imagenes-heburn/ojos/sombra/blister18.png') center, no-repeat;
}
.contenedor__tonos--blister-26 {
  background: url('/imagenes-heburn/ojos/sombra/blister26.png') center, no-repeat;
}
.contenedor__tonos--blister-29 {
  background: url('/imagenes-heburn/ojos/sombra/blister29.png') center, no-repeat;
}
.contenedor__tonos--blister-31 {
  background: url('/imagenes-heburn/ojos/sombra/blister31.png') center, no-repeat;
}
.contenedor__tonos--blister-32 {
  background: url('/imagenes-heburn/ojos/sombra/blister32.png') center, no-repeat;
}
.contenedor__tonos--blister-33 {
  background: url('/imagenes-heburn/ojos/sombra/blister33.png') center, no-repeat;
}
.contenedor__tonos--blister-34 {
  background: url('/imagenes-heburn/ojos/sombra/blister34.png') center, no-repeat;
}
.contenedor__tonos--blister-35 {
  background: url('/imagenes-heburn/ojos/sombra/blister35.png') center, no-repeat;
}
.contenedor__tonos--blister-37 {
  background: url('/imagenes-heburn/ojos/sombra/blister37.png') center, no-repeat;
}
.contenedor__tonos--blister-51 {
  background: url('/imagenes-heburn/ojos/sombra/blister51.png') center, no-repeat;
}
.contenedor__tonos--blister-52 {
  background: url('/imagenes-heburn/ojos/sombra/blister52.png') center, no-repeat;
}
.contenedor__tonos--blister-54 {
  background: url('/imagenes-heburn/ojos/sombra/blister54.png') center, no-repeat;
}
.contenedor__tonos--blister-55 {
  background: url('/imagenes-heburn/ojos/sombra/blister55.png') center, no-repeat;
}
.contenedor__tonos--blister-56 {
  background: url('/imagenes-heburn/ojos/sombra/blister56.png') center, no-repeat;
}
.contenedor__tonos--blister-57 {
  background: url('/imagenes-heburn/ojos/sombra/blister57.png') center, no-repeat;
}
.contenedor__tonos--blister-61 {
  background: url('/imagenes-heburn/ojos/sombra/blister61.png') center, no-repeat;
}
.contenedor__tonos--blister-64 {
  background: url('/imagenes-heburn/ojos/sombra/blister64.png') center, no-repeat;
}
.contenedor__tonos--blister-bm {
  background: url('/imagenes-heburn/ojos/sombra/blisterbm.png') center, no-repeat;
}