.contenedor__tonos--volatil10-1 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_1.png') center, no-repeat;
}
.contenedor__tonos--volatil10-2 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_2.png') center, no-repeat;
}
.contenedor__tonos--volatil10-3 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_3.png') center, no-repeat;
}
.contenedor__tonos--volatil10-4 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_4.png') center, no-repeat;
}
.contenedor__tonos--volatil10-5 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_5.png') center, no-repeat;
}
.contenedor__tonos--volatil10-5b {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_5b.png') center, no-repeat;
}
.contenedor__tonos--volatil10-6 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_6.png') center, no-repeat;
}
.contenedor__tonos--volatil10-7 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_7.png') center, no-repeat;
}
.contenedor__tonos--volatil10-8 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_8.png') center, no-repeat;
}
.contenedor__tonos--volatil10-20 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_20.png') center, no-repeat;
}
.contenedor__tonos--volatil10-21 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_21.png') center, no-repeat;
}
.contenedor__tonos--volatil10-22 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_22.png') center, no-repeat;
}
.contenedor__tonos--volatil10-23 {
  background: url('/imagenes-heburn/ojos/sombra/Volatil_23.png') center, no-repeat;
}