.seccion-select {
  border-bottom: 1px solid #E19438;

  height: 5rem;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.seccion-select:focus {
  outline: none;
}

.seccion-select__select {
  border: 1px solid #E19438;
  border-radius: 0.5em;

  height: 3em;
  width: 15rem;

  text-transform: uppercase;
  color: #555;

  margin-bottom: 1rem;
  padding-left: 1.2em;
}

.productos {
  padding: 1rem;
}

.productos__opciones {
  display: flex;
  flex-direction: column;
}

.productos__contenedor {
  align-items: center;
  
  display: flex;
  flex-direction: column;
}

.productos__opciones--titulo {
  margin-top: 2rem;
  text-transform: uppercase;
}

span.subrayado {
  background-color: #E19438;
  border-radius: 0.2em;

  display: block;
  height: 0.3em;
  width: 30px;
}

.productos__opciones__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor__labios {
  height: 560px;
}

.contenedor__ojos {
  height: 575px;
}

.contenedor__rostro, .contenedor__accesorios {
  height: 700px;
}

.esmalte {
  height: 700px;
}



.contenedor__labios, .contenedor__ojos, .contenedor__rostro, .esmalte, .contenedor__accesorios {
  align-items: center;

  border: 1px solid rgba(230, 178, 178, 0.726);
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 1.5em;

  display: flex;
  flex-direction: column;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 1rem;

  overflow: hidden;
  position: relative;

  max-width: 320px;
  width: 100%;
}

.contenedor__labios--img {
  height: 260px;
  width: auto;
}

.contenedor__ojos--img {
  height: 280px;
  width: auto;
}

.contenedor__ojos--img--sombra {
  height: 230px;
  width: auto;
}

.contenedor__rostro > img {
  height: 230px;
  width: auto;
}

img.contenedor__rostro--cod-116, img.contenedor__rostro--cod-180, img.contenedor__rostro--cod-713 {
  height: 200px;
}

.esmalte__img {
  width: 90px;
}

.esmalte__img--gel {
  width: 108px;
}

.contenedor__accesorios--151, .contenedor__accesorios--421 {
  height: 375px;
}

.contenedor__accesorios--231 {
  height: auto;
  width: 200px;
}

.contenedor__accesorios--474, .contenedor__accesorios--497 {
  width: 239px;
}

.contenedor__accesorios--475, .contenedor__accesorios--496, .contenedor__accesorios--504, .contenedor__accesorios--508, .contenedor__accesorios--718, .contenedor__accesorios--719, .contenedor__accesorios--919, .contenedor__accesorios--491, .contenedor__accesorios--501 {
  width: 250px;
}

.contenedor__accesorios--817 {
  width: 350px;
}

.contenedor__accesorios--971 {
  width: 315px;
}

.contenedor__accesorios--1503 {
  width: 230px;
}

.contenedor__accesorios--1600 {
  width: 190px;
}

.contenedor__accesorios--509 {
  height: 300px;
}

.contenedor__accesorios--1440, .contenedor__accesorios--942 {
  height: 230px;
}

.contenedor__accesorios--lima {
  height: 270px;
}

.contenedor__labios--titulo, .contenedor__ojos--titulo, .contenedor__rostro--titulo, .esmalte__titulo, .contenedor__accesorios--titulo {
  text-transform: uppercase;
}

.contenedor__labios--titulo, .contenedor__ojos--titulo, .contenedor__ojos--texto, .contenedor__rostro--titulo, .contenedor__rostro > p, .esmalte__titulo, .esmalte__texto, .contenedor__accesorios--titulo, .contenedor__accesorios--texto {
  margin-top: 1rem;
}

.contenedor__rostro--top {
  margin-top: 3rem;
}

.esmalte__texto--gel {
  text-align: justify;
}

.contenedor__accesorios--lista {
  list-style-position: inside;
}

.contenedor__labios__hover, .contenedor__ojos__hover,.contenedor__rostro--hover, .contenedor__rostro--hover, .esmalte__hover {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.5em;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  left: 0;
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
  

  padding: 1em;

  transform: translateY(105%);
  transition: all 500ms ease-out;
}

.contenedor__labios:hover .contenedor__labios__hover {
  transform: translateY(0);
}

.contenedor__ojos:hover .contenedor__ojos__hover {
  transform: translateY(0);
}

.contenedor__rostro:hover .contenedor__rostro--hover {
  transform: translateY(0);
}

.esmalte:hover .esmalte__hover {
  transform: translateY(0);
}

.contenedor__labios__hover>div, .contenedor__ojos__hover>div, .contenedor__rostro--hover>div, .esmalte__hover>div {
  border: 1px solid #fff;

  align-items: center;
  display: flex;
  justify-content: center;

  font-weight: bolder;

}

.display-none {
  display: none!important;
}

.fa-angles-up {
  font-size: 1.2em;
  /* color: rgb(231, 133, 133); */
  color:rgb(188, 65, 236);
  position: absolute;
  bottom: 1.5em;
  animation: animacion 1.5s infinite normal ease-in-out;
}

@keyframes animacion {
  0%, 100% {
      transform: translateY(0em);
  }

  50% {
      transform: translateY(1em)
  }
}

.esmalte:hover i.fa-angles-up, .contenedor__labios:hover i.fa-angles-up, .contenedor__ojos:hover i.fa-angles-up, .contenedor__rostro:hover i.fa-angles-up {
  display: none;
}

@media screen and (min-width: 375px) {
  .contenedor__accesorios--231, .contenedor__accesorios--1503, .contenedor__accesorios--1600 {
    width: auto;
  }

  .contenedor__accesorios--474, .contenedor__accesorios--504, .contenedor__accesorios--508 {
    height: 290px;
    width: auto;
  }

  .contenedor__accesorios--475, .contenedor__accesorios--496, .contenedor__accesorios--497, .contenedor__accesorios--501 {
    height: 180px;
    width: auto;
  }

  .contenedor__accesorios--817 {
    width: 400px;
  }

  .contenedor__accesorios--919, .contenedor__accesorios--491 {
    width: 300px;
  }

  .contenedor__accesorios--971 {
    width: 380px;
  }

  .contenedor__accesorios--509 {
    height: 375px;
  }

  .contenedor__accesorios--1440 {
    height: 300px;
  }

}

@media screen and (min-width: 385px) {
  .contenedor__accesorios--lima {
    height: 375px;
  }

  .contenedor__accesorios--lima.translate {
    transform: rotate(-45deg);
  }
}
@media screen and (min-width: 736px) {
  .contenedor__accesorios--titulo-474, .contenedor__accesorios--titulo-504, .contenedor__accesorios--titulo-508 {
    margin-top: calc(85px + 1rem);
  }
  

  .contenedor__accesorios--titulo-475, .contenedor__accesorios--titulo-496, .contenedor__accesorios--titulo-497 {
    margin-top: calc(85px + 1rem);
  }

  .contenedor__accesorios--titulo-718, .contenedor__accesorios--titulo-719 {
    margin-top: calc(375px - 307px + 1rem);
  }
  
  .contenedor__accesorios--titulo-817 {
    margin-top: calc(375px - 250px + 1rem );
  }

  .contenedor__accesorios--titulo-919 {
    margin-top: calc(375px - 222px + 1rem);
  }

  .contenedor__accesorios--titulo-971 {
    margin-top: calc(375px - 313px + 1rem);
  }

  .contenedor__accesorios--titulo-491 {
    margin-top: calc(375px - 294px + 1rem);
  }

  .contenedor__accesorios--titulo-501 {
    margin-top: calc(375px - 180px + 1rem);
  }

  .contenedor__accesorios--942 {
    height: 375px;
  }
}

@media screen and (min-width:768px) {
    .contenedor__rostro {
        height: 600px;
    }

    .esmalte {
      height: 580px;
    }

    .contenedor__accesorios {
      height: 750px;
    }
    
    .contenedor__accesorios--1440 {
      height: 375px;
    }

}