/* menu */

section.icono-puissance {
  background: url('/gavcosmeticaprofesional/imagenes/lapuissance\ ico.png') center no-repeat;
  background-size: contain;
      
  height: 100px;
  width: 100%;
}

div.navegacion.navegacion-marcas.navegacion-puissance a {
  height: 3.5em;
  line-height: 3.5em;
}

.contenedor__puissance {
  align-items: center;

  background-color: rgb(247, 242, 242);
  border: 1px solid rgba(230, 178, 178, 0.726);
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 1.5em;

  display: flex;
  flex-direction: column;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 1rem;

  overflow: hidden;
  position: relative;

  max-width: 320px;
  width: 100%;
}

.img__puissance {
  height: 280px;
}

.img__puissance.h180 {
  height: 180px;
}


.contenedor__puissance--titulo {
  text-transform: uppercase;
  margin-top: 1rem;
}

.contenedor__puissance--titulo.m180 {
  margin-top: calc(280px - 180px + 1rem);
}

@media screen and (min-width: 768px) {
  section.icono-puissance {
    margin-top: 6em;
  }
}

@media screen and (min-width: 1024px) {
  div.navegacion.navegacion-marcas.navegacion-puissance a {
    height: 4em;
    line-height: 4em;
  }
}