section.icono-prismax{
  background: url('/gavcosmeticaprofesional/imagenes/prismax.png') center no-repeat;
  background-size: 200px;

  height: 100px;
  width: 100%;
}

.contenedor__prismax {
	align-items: center;

	background-color: rgb(247, 242, 242);
	border: 1px solid rgba(230, 178, 178, 0.726);
	border-radius: 0.5em;
	box-shadow: 0.5em 0.5em 1.5em;

	display: flex;
	flex-direction: column;

	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	padding: 1rem;

	overflow: hidden;
	position: relative;

	max-width: 320px;
	width: 100%;
}

.img__prismax {
  height: 375px;
}

.img__prismax.h250 {
  height: 250px;
}

.contenedor__prismax--titulo {
  margin-top: 1rem;
  text-transform: uppercase;
}

.prismax__hover {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.5em;

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  
  
	left: 0;
	position: absolute;
	top: 0;
  
	height: 100%;
	width: 100%;
	
  
	padding: 1em;
  
	transform: translateY(105%);
	transition: all 500ms ease-out;
}

.contenedor__prismax:hover .prismax__hover {
  transform: translateY(0);
}

.prismax__hover > div {
  border: 1px solid #fff;
  border-radius: 50%;

  align-items: center;
  display: flex;
  justify-content: center;

  font-weight: bolder;


  color: #ffffff;
  height: 1.8em; 
  width: 1.8em;  

  margin: 0.5em;

  position: relative;

  z-index: 2;

}

.contenedor__hover-1 {
  background: url('/imagenes-prismax/coloracion/acecenplo.png') center no-repeat;
}
.contenedor__hover-2 {
  background: url('/imagenes-prismax/coloracion/acegri.png') center no-repeat;
}
.contenedor__hover-3 {
  background: url('/imagenes-prismax/coloracion/cast4.png') center no-repeat;
}
.contenedor__hover-4 {
  background: url('/imagenes-prismax/coloracion/castcla5.png') center no-repeat;
}
.contenedor__hover-5 {
  background: url('/imagenes-prismax/coloracion/castclacaoligdor5.53.png') center no-repeat;
}
.contenedor__hover-6 {
  background: url('/imagenes-prismax/coloracion/castclacen5.1.png') center no-repeat;
}
.contenedor__hover-7 {
  background: url('/imagenes-prismax/coloracion/castclacho5.7.png') center no-repeat;
}
.contenedor__hover-8 {
  background: url('/imagenes-prismax/coloracion/castclador5.3.png') center no-repeat;
}
.contenedor__hover-9 {
  background: url('/imagenes-prismax/coloracion/castclaroj5.6.png') center no-repeat;
}
.contenedor__hover-10 {
  background: url('/imagenes-prismax/coloracion/castclarojbor5.62.png') center no-repeat;
}
.contenedor__hover-11 {
  background: url('/imagenes-prismax/coloracion/castclarojpro5.66.png') center no-repeat;
}
.contenedor__hover-12 {
  background: url('/imagenes-prismax/coloracion/castclavio5.20.png') center no-repeat;
}
.contenedor__hover-13 {
  background: url('/imagenes-prismax/coloracion/castosc3.png') center no-repeat;
}
.contenedor__hover-14 {
  background: url('/imagenes-prismax/coloracion/negro1.png') center no-repeat;
}
.contenedor__hover-15 {
  background: url('/imagenes-prismax/coloracion/rub7.png') center no-repeat;
}
.contenedor__hover-16 {
  background: url('/imagenes-prismax/coloracion/rubbeicen7.31.png') center no-repeat;
}
.contenedor__hover-17 {
  background: url('/imagenes-prismax/coloracion/rubbeinac7.32.png') center no-repeat;
}
.contenedor__hover-18 {
  background: url('/imagenes-prismax/coloracion/rubcaoligdor7.53.png') center no-repeat;
}
.contenedor__hover-19 {
  background: url('/imagenes-prismax/coloracion/rubcen7.1.png') center no-repeat;
}
.contenedor__hover-20 {
  background: url('/imagenes-prismax/coloracion/rubcenpro7.11.png') center no-repeat;
}
.contenedor__hover-21 {
  background: url('/imagenes-prismax/coloracion/rubcho7.7.png') center no-repeat;
}
.contenedor__hover-22 {
  background: url('/imagenes-prismax/coloracion/rubcla8.png') center no-repeat;
}
.contenedor__hover-23 {
  background: url('/imagenes-prismax/coloracion/rubclabeicen8.31.png') center no-repeat;
}
.contenedor__hover-24 {
  background: url('/imagenes-prismax/coloracion/rubclabeinac8.32.png') center no-repeat;
}
.contenedor__hover-25 {
  background: url('/imagenes-prismax/coloracion/rubclacen8.1.png') center no-repeat;
}
.contenedor__hover-26 {
  background: url('/imagenes-prismax/coloracion/rubclacenpro8.11.png') center no-repeat;
}
.contenedor__hover-27 {
  background: url('/imagenes-prismax/coloracion/rubclacob8.4.png') center no-repeat;
}
.contenedor__hover-28 {
  background: url('/imagenes-prismax/coloracion/rubclador8.3.png') center no-repeat;
}
.contenedor__hover-29 {
  background: url('/imagenes-prismax/coloracion/rubclanac8.2.png') center no-repeat;
}
.contenedor__hover-30 {
  background: url('/imagenes-prismax/coloracion/rubcobint7.40.png') center no-repeat;
}
.contenedor__hover-31 {
  background: url('/imagenes-prismax/coloracion/rubcobligcen7.41.png') center no-repeat;
}
.contenedor__hover-32 {
  background: url('/imagenes-prismax/coloracion/rubcobroj7.46.png') center no-repeat;
}
.contenedor__hover-33 {
  background: url('/imagenes-prismax/coloracion/rubdor7.3.png') center no-repeat;
}
.contenedor__hover-34 {
  background: url('/imagenes-prismax/coloracion/rubmcla9.png') center no-repeat;
}
.contenedor__hover-35 {
  background: url('/imagenes-prismax/coloracion/rubmclabeinac9.32.png') center no-repeat;
}
.contenedor__hover-36 {
  background: url('/imagenes-prismax/coloracion/rubmclacen9.1.png') center no-repeat;
}
.contenedor__hover-37 {
  background: url('/imagenes-prismax/coloracion/rubmclacenpro9.11.png') center no-repeat;
}
.contenedor__hover-38 {
  background: url('/imagenes-prismax/coloracion/rubmclador9.3.png') center no-repeat;
}
.contenedor__hover-39 {
  background: url('/imagenes-prismax/coloracion/rubmclanac9.2.png') center no-repeat;
}
.contenedor__hover-40 {
  background: url('/imagenes-prismax/coloracion/rubnac7.2.png') center no-repeat;
}
.contenedor__hover-41 {
  background: url('/imagenes-prismax/coloracion/rubosc6.png') center no-repeat;
}
.contenedor__hover-42 {
  background: url('/imagenes-prismax/coloracion/ruboscbeicen6.31.png') center no-repeat;
}
.contenedor__hover-43 {
  background: url('/imagenes-prismax/coloracion/ruboscbeinac6.32.png') center no-repeat;
}
.contenedor__hover-44 {
  background: url('/imagenes-prismax/coloracion/rubosccaoligdor6.53.png') center no-repeat;
}
.contenedor__hover-45 {
  background: url('/imagenes-prismax/coloracion/rubosccen6.1.png') center no-repeat;
}
.contenedor__hover-46 {
  background: url('/imagenes-prismax/coloracion/rubosccenpro6.11.png') center no-repeat;
}
.contenedor__hover-47 {
  background: url('/imagenes-prismax/coloracion/rubosccho6.7.png') center no-repeat;
}
.contenedor__hover-48 {
  background: url('/imagenes-prismax/coloracion/rubosccob6.4.png') center no-repeat;
}
.contenedor__hover-49 {
  background: url('/imagenes-prismax/coloracion/rubosccobigcen6.41.png') center no-repeat;
}
.contenedor__hover-50 {
  background: url('/imagenes-prismax/coloracion/rubosccobroj6.46.png') center no-repeat;
}
.contenedor__hover-51 {
  background: url('/imagenes-prismax/coloracion/ruboscdor6.3.png') center no-repeat;
}
.contenedor__hover-52 {
  background: url('/imagenes-prismax/coloracion/ruboscrojbor6.62.png') center no-repeat;
}
.contenedor__hover-53 {
  background: url('/imagenes-prismax/coloracion/ruboscrojpro6.66.png') center no-repeat;
}
.contenedor__hover-54 {
  background: url('/imagenes-prismax/coloracion/rubrojbor7.62.png') center no-repeat;
}
.contenedor__hover-55 {
  background: url('/imagenes-prismax/coloracion/rubrojpro7.66.png') center no-repeat;
}
.contenedor__hover-56 {
  background: url('/imagenes-prismax/coloracion/rubvio7.20.png') center no-repeat;
}
.contenedor__hover-57 {
  background: url('/imagenes-prismax/coloracion/rubxcla10.png') center no-repeat;
}
.contenedor__hover-58 {
  background: url('/imagenes-prismax/coloracion/rubxclacen10.1.png') center no-repeat;
}
.contenedor__hover-59 {
  background: url('/imagenes-prismax/coloracion/supclanat11.png') center no-repeat;
}
.contenedor__hover-60 {
  background: url('/imagenes-prismax/coloracion/supclapla11.1.png') center no-repeat;
}


@media screen and (min-width: 390px) {
  .prismax__hover > div {
    height: 2em;
    width: 2em;
  }
}

@media screen and (min-width: 736px) {
  .contenedor__prismax--titulo.t250 {
    margin-top: calc(375px - 250px + 1rem);
  }
}