section.icono-prismax {
  background: url('/gavcosmeticaprofesional/imagenes/prismax.png') center no-repeat;
  background-size: 200px;

  height: 100px;
  width: 100%;
}

.contenedor__prismax {
	align-items: center;

	background-color: rgb(247, 242, 242);
	border: 1px solid rgba(230, 178, 178, 0.726);
	border-radius: 0.5em;
	box-shadow: 0.5em 0.5em 1.5em;

	display: flex;
	flex-direction: column;

	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	padding: 1rem;

	overflow: hidden;
	position: relative;

	max-width: 320px;
	width: 100%;
}

.img__prismax {
  height: 375px;
}

.img__prismax.h250 {
  height: 250px;
}

.contenedor__prismax--titulo {
  margin-top: 1rem;
  text-transform: uppercase;
}

.prismax__hover {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.5em;

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  
  
	left: 0;
	position: absolute;
	top: 0;
  
	height: 100%;
	width: 100%;
	
  
	padding: 1em;
  
	transform: translateY(105%);
	transition: all 500ms ease-out;
}

.contenedor__prismax:hover .prismax__hover {
  transform: translateY(0);
}

.prismax__hover > div {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0%;

  align-items: center;
  display: flex;
  justify-content: center;

  font-weight: bolder;


  color: #ffffff;
  height: 1.8em; 
  width: 1.9em;  

  margin: 0.45em 0.7em;

  position: relative;

  z-index: 2;

}

.contenedor__hover--prismax {
  position: relative;
}

.contenedor__hover--prismax-1 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/1-negro.png') center no-repeat;
}
.contenedor__hover--prismax-2 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/3-castanio-oscuro.png') center no-repeat;
}
.contenedor__hover--prismax-3 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/4-castanio.png') center no-repeat;
}
.contenedor__hover--prismax-4 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5-castanio-claro.png') center no-repeat;
}
.contenedor__hover--prismax-5 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.1-castanio-claro-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-6 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.20-castanio-claro-violin.png') center no-repeat;
}
.contenedor__hover--prismax-7 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.3-castanio-claro-dorado.png') center no-repeat;
}
.contenedor__hover--prismax-8 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.53-castanio-claro-caoba-ligeramente-dorado.png') center no-repeat;
}
.contenedor__hover--prismax-9 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.6-castanio-claro-rojizo.png') center no-repeat;
}
.contenedor__hover--prismax-10 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.62-castanio-claro-rojo-borgonia.png') center no-repeat;
}
.contenedor__hover--prismax-11 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.66-castanio-claro-rojo-profundo.png') center no-repeat;
}
.contenedor__hover--prismax-12 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/5.7-castanio-claro-chocolate.png') center no-repeat;
}
.contenedor__hover--prismax-13 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6-rubio-oscuro.png') center no-repeat;
}
.contenedor__hover--prismax-14 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.1-rubio-oscuro-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-15 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.11-rubio-oscuro-ceniza-profundo.png') center no-repeat;
}
.contenedor__hover--prismax-16 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.3-rubio-oscuro-dorado.png') center no-repeat;
}
.contenedor__hover--prismax-17 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.31-rubio-oscuro-beige-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-18 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.32-rubio-oscuro-beige-nacarado.png') center no-repeat;
}
.contenedor__hover--prismax-19 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.4-rubio-oscuro-cobrizo.png') center no-repeat;
}
.contenedor__hover--prismax-20 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.41-rubio-oscuro-cobre-ligeramente-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-21 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.46-rubio-oscuro-cobre-rojizo.png') center no-repeat;
}
.contenedor__hover--prismax-22 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.53-rubio-oscuro-caoba-ligeramente-dorado.png') center no-repeat;
}
.contenedor__hover--prismax-23 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.62-rubio-oscuro-rojo-borgonia.png') center no-repeat;
}
.contenedor__hover--prismax-24 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.66-rubio-oscuro-rojo-profundo.png') center no-repeat;
}
.contenedor__hover--prismax-25 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/6.7-rubio-oscuro-chocolate.png') center no-repeat;
}
.contenedor__hover--prismax-26 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7-rubio.png') center no-repeat;
}
.contenedor__hover--prismax-27 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.1-rubio-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-28 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.11-rubio-ceniza-profundo.png') center no-repeat;
}
.contenedor__hover--prismax-29 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.2-rubio-nacarado.png') center no-repeat;
}
.contenedor__hover--prismax-30 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.20-rubio-violin.png') center no-repeat;
}
.contenedor__hover--prismax-31 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.3-rubio-dorado.png') center no-repeat;
}
.contenedor__hover--prismax-32 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.31-rubio-beige-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-33 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.32-rubio-beige-nacarado.png') center no-repeat;
}
.contenedor__hover--prismax-34 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.40-rubio-cobrizo-intenso.png') center no-repeat;
}
.contenedor__hover--prismax-35 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.41-rubio-cobre-ligeramente-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-36 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.46-rubio-cobre-rojizo.png') center no-repeat;
}
.contenedor__hover--prismax-37 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.53-rubio-caoba-ligeramente-dorado.png') center no-repeat;
}
.contenedor__hover--prismax-38 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.62-rubio-rojo-borgonia.png') center no-repeat;
}
.contenedor__hover--prismax-39 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.66-rubio-rojo-profundo.png') center no-repeat;
}
.contenedor__hover--prismax-40 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/7.7-rubio-chocolate.png') center no-repeat;
}
.contenedor__hover--prismax-41 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8-rubio-claro.png') center no-repeat;
}
.contenedor__hover--prismax-42 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8.1-rubio-claro-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-43 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8.11-rubio-claro-ceniza-profundo.png') center no-repeat;
}
.contenedor__hover--prismax-44 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8.2-rubio-claro-nacarado.png') center no-repeat;
}
.contenedor__hover--prismax-45 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8.3-rubio-claro-dorado.png') center no-repeat;
}
.contenedor__hover--prismax-46 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8.31-rubio-claro-beige-ceniza.png') center no-repeat;
}
.contenedor__hover--prismax-47 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8.32-rubio-claro-beige-nacarado.png') center no-repeat;
}
.contenedor__hover--prismax-48 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/8.4-rubio-claro-cobrizo.png') center no-repeat;
}
.contenedor__hover--prismax-49 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/9-rubio-muy-claro.png') center no-repeat;
  color: #444!important;
}
.contenedor__hover--prismax-50 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/9.1-rubio-muy-claro-ceniza.png') center no-repeat;
  color: #444!important;
}
.contenedor__hover--prismax-51 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/9.11-rubio-muy-claro-ceniza-profundo.png') center no-repeat;
}
.contenedor__hover--prismax-52 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/9.2-rubio-muy-claro-nacarado.png') center no-repeat;
}
.contenedor__hover--prismax-53 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/9.3-rubio-muy-claro-dorado.png') center no-repeat;
  color: #444!important;
}
.contenedor__hover--prismax-54 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/9.32-rubio-muy-claro-beige-nacarado.png') center no-repeat;
}
.contenedor__hover--prismax-55 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/10-rubio-extra-claro.png') center no-repeat;
  color: #444!important;
}
.contenedor__hover--prismax-56 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/10.1-rubio-extra-claro-ceniza.png') center no-repeat;
  color: #444!important;
}
.contenedor__hover--prismax-57 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/11-superaclarante-natural.png') center no-repeat;
  color: #444!important;
}
.contenedor__hover--prismax-58 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/11.1-superaclarante-platino.png') center no-repeat;
  color: #444!important;
}
.contenedor__hover--prismax-59 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/acentuador-gris.png') center no-repeat;
}
.contenedor__hover--prismax-60 {
  background: url('/gavcosmeticaprofesional/imagenes-prismax/coloracion/acentuador-ceniza-plomo.png') center no-repeat;
}

.contenedor__hover--prismax-texto {
  font-size: 0.75em;
}


.contenedor__hover--prismax::after {
  color: rgb(238, 209, 209);
  content: 'Color';
  
  font-size: 0.8em;
  
  left: 0em;
  position: absolute;
  top: -1.2em;
}


.contenedor__hover--prismax-59::after {
  content: 'Acentuador';
  left: -1.5em;
}
.contenedor__hover--prismax-60::after {
  content: 'Acentuador';
  left: -0.5em;
}


@media screen and (min-width: 390px) {
  .prismax__hover > div {
    height: 2em;
    width: 2.3em;

    margin: 0.45em 0.5em;
  }

  .contenedor__hover--prismax-texto {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 736px) {
  .contenedor__prismax--titulo.t250 {
    margin-top: calc(375px - 250px + 1rem);
  }
}

@media screen and (min-width: 768px) {
  section.icono-prismax {
    margin-top: 6em;
  }
}

