.contenedor__hover--cod-124 {
  border: rgba(255,255,255,0)!important;
  border-radius: 0;

  color: #ffffff;
  height: 7em;
  width: 5em;

  margin: 0.18em;

  position: relative;

  z-index: 2;
}

.contenedor__hover--cod-124-1 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-124/124-1.webp') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-124-2 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-124/124-2.webp') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-124-3 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-124/124-3.webp') no-repeat center;
  background-size: contain;
}

.contenedor__hover--cod-124::after {
  color: rgb(238, 209, 209);
  
  font-size: 0.9em;
  
  left: 0.8em;
  position: absolute;
  top: -2em;
}

.contenedor__hover--cod-124-1::after {
  content: '1-Claro';
}

.contenedor__hover--cod-124-2::after {
  content: '2-Medio';

}

.contenedor__hover--cod-124-3::after {
  content: '3-Oscuro';
}

