.contenedor__hover--cod-713 {
  border: rgba(255,255,255,0)!important;
  border-radius: 0;

  color: #ffffff;
  height: 8em;
  width: 6em;

  margin: 0.18em;

  position: relative;

  z-index: 2;
}

.contenedor__hover--cod-713-gold {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-713/713_gold.png') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-713-rose {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-713/713_rose.png') no-repeat center;
  background-size: contain;
}

.contenedor__hover--cod-713::after {
  color: rgb(238, 209, 209);
  
  font-size: 0.9em;

  left: 2em;
  position: absolute;
  top: -1em;

}

.contenedor__hover--cod-713-gold::after, .contenedor__hover--cod-713-rose::after {
  content: 'Gold';
}

.contenedor__hover--cod-713-rose::after {
  content: 'Gold Rose';

  left: 1em;
}