.contenedor__hover--cod-318 {
  border: rgba(255,255,255,0)!important;
  border-radius: 0;

  color: #ffffff;
  height: 6em;
  width: 4em;

  margin: 0.18em;

  position: relative;

  z-index: 2;
}

.contenedor__hover--cod-318-1 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-318/318-1.png') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-318-2 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-318/318-2.png') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-318-3 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-318/318-3.png') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-318-4 {
  background: url('/gavcosmeticaprofesional/imagenes-heburn/rostro/cod-318/318-4.png') no-repeat center;
  background-size: contain;
}

.contenedor__hover--cod-318::after {
  color: rgb(238, 209, 209);
  
  font-size: 0.9em;
  
  left: 0.5em;
  position: absolute;
  top: -0.6em;
}

.contenedor__hover--cod-318-1::after {
  content: 'Color 1';
}
.contenedor__hover--cod-318-2::after {
  content: 'Color 2';
}
.contenedor__hover--cod-318-3::after {
  content: 'Color 3';
}
.contenedor__hover--cod-318-4::after {
  content: 'Color 4';
}