.contenedor__hover--cod-284 {
  border: rgba(255,255,255,0)!important;
  border-radius: 0;

  color: #ffffff;
  height: 7em;
  width: 5em;

  margin: 0.18em;

  position: relative;

  z-index: 2;
}

.contenedor__hover--cod-284-1 {
  background: url('/imagenes-heburn/rostro/cod-284/284-1.png') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-284-2 {
  background: url('/imagenes-heburn/rostro/cod-284/284-2.png') no-repeat center;
  background-size: contain;
}
.contenedor__hover--cod-284-3 {
  background: url('/imagenes-heburn/rostro/cod-284/284-3.png') no-repeat center;
  background-size: contain;
}

.contenedor__hover--cod-284::after {
  color: rgb(238, 209, 209);
  
  font-size: 0.9em;
  
  left: 0.8em;
  position: absolute;
  top: -1.5em;
}

.contenedor__hover--cod-284-1::after {
  content: '01-Claro';
}
.contenedor__hover--cod-284-2::after {
  content: '02-Medio';

  left: 0;
}
.contenedor__hover--cod-284-3::after {
  content: '03-Oscuro';

  left: 0.2em;
}