.hover__labios--trio {
  border-radius: 0;

  border: 0px solid rgba(255,255,255,0)!important;
  height: 5.859375em; /*5.859375em*/
  width: 2.1875em; /*2.1875em*/

  margin: 0.2em;

  z-index: 2;
}

.hover__labios--trio-1 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_1.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-2 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_2.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-3 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_3.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-4 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_4.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-5 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_5.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-6 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_6.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-7 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_7.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-8 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_8.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-9 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_9.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-10 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_10.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-11 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_11.png') no-repeat;
  background-size: cover;
}
.hover__labios--trio-12 {
  background: url('/imagenes-heburn/labios/labial-trio/908_Labial_Trio_12.png') no-repeat;
  background-size: cover;
}