.hover__labios--premium {
  height: 2.2em;
  width: 2.2em;

  margin: 0.5em 0.7em;

  position: relative;
}

.hover__labios--premium-cremoso-21 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-21-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-23 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-23-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-24 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-24-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-28 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-28-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-29 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-29-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-cremoso-30 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-30-min.png') 64% 16% no-repeat;
} */
.hover__labios--premium-cremoso-31 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-31-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-cremoso-39 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-39-min.png') 64% 16% no-repeat;
} */
.hover__labios--premium-cremoso-43 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-43-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-45 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-45-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-48 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-48-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-59 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-59-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-cremoso-63 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-63-min.png') 64% 16% no-repeat;
} */
.hover__labios--premium-cremoso-64 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-64-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-cremoso-68 {
  background: url('/imagenes-heburn/labios/premium-hd/119-cremoso-68-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-matte-52 {
  background: url('/imagenes-heburn/labios/premium-hd/119-matte-52-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-matte-53 {
  background: url('/imagenes-heburn/labios/premium-hd/119-matte-53-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-matte-54 {
  background: url('/imagenes-heburn/labios/premium-hd/119-matte-54-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-matte-55 {
  background: url('/imagenes-heburn/labios/premium-hd/119-matte-55-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-matte-56 {
  background: url('/imagenes-heburn/labios/premium-hd/119-matte-56-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-matte-57 {
  background: url('/imagenes-heburn/labios/premium-hd/119-matte-57-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-perlado-01 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-01-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-perlado-02 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-02-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-perlado-03 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-03-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-perlado-04 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-04-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-perlado-06 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-06-min.png') 64% 16% no-repeat;
} */
.hover__labios--premium-perlado-07 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-07-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-perlado-08 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-08-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-perlado-09 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-09-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-perlado-10 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-10-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-12 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-12-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-13 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-13-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-15 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-15-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-16 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-16-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-17 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-17-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-18 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-18-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-19 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-19-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-20 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-20-min.png') 64% 16% no-repeat;
} */
.hover__labios--premium-perlado-61 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-61-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-perlado-73 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-73-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-74 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-74-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-77 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-77-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-80 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-80-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-87 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-87-min.png') 64% 16% no-repeat;
}
.hover__labios--premium-perlado-88 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-88-min.png') 64% 16% no-repeat;
} */
/* .hover__labios--premium-perlado-91 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-91-min.png') 64% 16% no-repeat;
} */
.hover__labios--premium-perlado-92 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-92-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-perlado-93 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-93-min.png') 64% 16% no-repeat;
} */
.hover__labios--premium-perlado-95 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-95-min.png') 65% 20% no-repeat;
}
.hover__labios--premium-perlado-96 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-96-min.png') 65% 20% no-repeat;
}
/* .hover__labios--premium-perlado-101 {
  background: url('/imagenes-heburn/labios/premium-hd/119-perlado-101-min.png') 64% 16% no-repeat;
} */

.hover__labios--premium::after {
  color: rgb(238, 209, 209);
  
  font-size: 0.7em;
  
  left: 0em;
  position: absolute;
  top: -1.2em;
}

.hover__labios--premium-cremoso-21::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-23::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-24::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-28::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-29::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-31::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-43::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-45::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-48::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-59::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-64::after {
  content: 'Cremoso';
}
.hover__labios--premium-cremoso-68::after {
  content: 'Cremoso';
}
.hover__labios--premium-matte-52::after {
  content: 'Uva';
}
.hover__labios--premium-matte-53::after {
  content: 'Rojo';
}
.hover__labios--premium-matte-54::after {
  content: 'Rosa';
}
.hover__labios--premium-matte-55::after {
  content: 'Salmon';
}
.hover__labios--premium-matte-56::after {
  content: 'Nude'
}
.hover__labios--premium-matte-57::after {
  content: 'Capuchino';
}
.hover__labios--premium-perlado-01::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-02::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-03::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-04::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-07::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-08::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-09::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-61::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-92::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-95::after {
  content: 'Perlado';
}
.hover__labios--premium-perlado-96::after {
  content: 'Perlado';
}