.hover__labios {
  border-radius: 50%;
  
  color: #eeeaea;
  height: 2em;
  width: 2em;
  
  margin: 0.5em 0.7em;

  position: relative;
  
  z-index: 2;
}

.hover__labios--redondo-cremoso-21{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-21.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-23{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-23.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-24{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-24.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-28{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-28.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-29{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-29.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-30{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-30.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-31{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-31.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-39{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-39.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-43{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-43.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-45{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-45.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-48{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-48.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-59{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-59.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-63{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-63.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-64{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-64.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-cremoso-68{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-cremoso-68.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-01{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-01.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-02{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-02.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-03{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-03.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-04{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-04.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-06{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-06.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-07{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-07-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-08{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-08-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-09{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-09-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-10{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-10-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-12{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-12-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-13{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-13-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-15{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-15-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-16{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-16-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-17{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-17-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-18{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-18-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-19{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-19-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-20{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-20-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-61{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-61-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-73{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-73-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-74{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-74-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-77{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-77-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-80{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-80-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-91{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-91-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-92{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-92-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-93{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-93-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-95{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-95-min.webp') 75% 11% no-repeat;
}
.hover__labios--redondo-perlado-96{
  background: url('/gavcosmeticaprofesional/imagenes-heburn/labios/redondo-hd/104-perlados-96-min.webp') 75% 11% no-repeat;
}

.hover__labios--redondo::after {
  color: rgb(247, 217, 217);
  
  font-size: 0.7em;
  
  left: 0;
  position: absolute;
  top: -1.2em;
}

.hover__labios--redondo-perlado-01::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-02::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-03::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-04::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-06::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-07::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-08::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-09::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-10::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-12::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-13::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-15::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-16::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-17::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-18::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-19::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-20::after {
  content: 'Perlado';
}
.hover__labios--redondo-cremoso-21::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-23::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-24::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-28::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-29::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-30::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-31::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-39::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-43::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-45::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-48::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-59::after {
  content: 'Cremoso';
}
.hover__labios--redondo-perlado-61::after {
  content: 'Perlado';
}
.hover__labios--redondo-cremoso-63::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-64::after {
  content: 'Cremoso';
}
.hover__labios--redondo-cremoso-68::after {
  content: 'Cremoso';
}
.hover__labios--redondo-perlado-73::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-74::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-77::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-80::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-91::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-92::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-93::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-95::after {
  content: 'Perlado';
}
.hover__labios--redondo-perlado-96::after {
  content: 'Perlado';
}